<!-- 公共的bootstrap文件 -->

<link rel="stylesheet" type="text/css" href="../../resources/static/css/bootstrap.css" th:href="@{/resources/static/css/bootstrap.css}"/>
<link rel="stylesheet" type="text/css" href="../../resources/static/css/main.css" th:href="@{/resources/static/css/main.css}"/>
<link rel="stylesheet" type="text/css" href="../../resources/static/demo/demo.css"  th:href="@{/resources/static/demo/demo.css}" /> 

<script type="text/javascript" src="../../resources/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" th:src="@{/resources/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
<script type="text/javascript" src="../../resources/static/js/vendor/jquery-1.9.0.min.js" th:src="@{/resources/static/js/vendor/jquery-1.9.0.min.js}"></script>
<script type="text/javascript" src="../../resources/static/js/vendor/bootstrap.min.js" th:src="@{/resources/static/js/vendor/bootstrap.min.js}"></script>
<script type="text/javascript" src="../../resources/static/js/main.js" th:src="@{/resources/static/js/main.js}"></script>